streamlit
requests
beautifulsoup4
langchain==0.1.16



langchain-community
faiss-cpu
tiktoken

# LLM + embeddings
torch
transformers
openai

# NLP and text processing
nltk
PyPDF2
pydub
SpeechRecognition
youtube-transcript-api

# Utilities
pydantic
numpy
pandas

# Optional helpers
lxml

