streamlit
requests
beautifulsoup4
langchain==0.1.16
langchain-core
langchain-community
faiss-cpu
torch
transformers
PyPDF2
nltk
speechrecognition
pydub
youtube-transcript-api
pydantic
numpy
pandas
tqdm
